@tailwind base;
@tailwind components;
@tailwind utilities;


.carousel {
  display: flex;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  gap: 1rem;
}

.carousel-item {
  flex: 0 0 auto;
  width: 100%;
  scroll-snap-align: center;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}
